{% extends 'base.html.twig' %}

{% block body %}
    <div class="subMenu">
        <h1>Tournoi</h1>
        <a href="{{ path('createTournament')}}">
            <i class="far fa-plus-square"></i>
        </a>
        <a href="{{ path('listTournament')}}">
          <i class="fas fa-list"></i>
        </a>
    </div>


  </div>
  <hr/>

  <div id="subBody">
      {% block bodyTournament %}
      {% endblock %}
  </div>


{% endblock %}
