{% extends 'base.html.twig' %}

{% block body %}

  <h1>Liste des tournois</h1>
  <hr/>
  <h3 style="font-weight: bold">Ouverts</h3>
  <ul class="listElement">
    {% for tournament in opens %}
      <a href="{{ path('showMatchGroup', {'tournamentId' : tournament.id })}}">
        <li class="isOpenTournament">
          <div>{{tournament.name}}</div>
          <div style="font-size: 0.9em; font-style: italic">{{tournament.dateStart|date('d/m/Y') ~ ' '~tournament.city}}</div>
        </li>
      </a>
    {% endfor %}
  </ul>

  {% if is_granted(['ROLE_ADMIN']) %}
    <h3 style="font-weight: bold">Tous les tournois</h3>
    {% include 'AppBundle:tournament:_list.html.twig' with {'tournaments': alls} %}
  {% endif %}


  {% if is_granted(['ROLE_MANAGER']) %}
      <br/><br/>
      <h3 style="font-weight: bold">Mes tournois</h3>
      {% include 'AppBundle:tournament:_list.html.twig' with {'tournaments': owners} %}

      <br/><br/>
      <h3 style="font-weight: bold">Tournois associés</h3>
      {% include 'AppBundle:tournament:_list.html.twig' with {'tournaments': associates} %}
  {% endif %}


{% endblock %}
