<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Titre du document</title>
    <link rel="stylesheet" href="{{ asset('knacss/css/knacss.css')}} " media="all">
    <link rel="stylesheet" href="{{ asset('knacss/css/styles.css')}}" media="all">
  </head>
  <body>

  <header id="header" role="banner" class="pam">
    Lorem Elsass ipsum lacus leverwurscht Wurschtsalad mamsell Gal. gewurztraminer turpis, suspendisse commodo Oberschaeffolsheim ornare aliquam semper Miss Dahlias Mauris turpis sagittis kuglopf eleifend dignissim baeckeoffe geht's Richard Schirmeck mollis
    habitant schnaps ante et sit leo schpeck sit Salu bissame Salut bisamme varius quam.
    <nav id="navigation" role="navigation">
      <ul class="pam">
        <li class="pam inbl">Picon bière</li>
        <li class="pam inbl">Melfor</li>
        <li class="pam inbl">Carola</li>
        <li class="pam inbl">Kuglof</li>
        <li class="pam inbl">Wurscht</li>
      </ul>
    </nav>
  </header>
  <main id="main" role="main" class="pam">

    {% block body %}
  {% endblock %}
  </main>

  </body>
</html>
