{% extends 'base.html.twig' %}

{% block body %}

<h1>Liste des équipes</h1>
<hr/>

<h3 style="font-weight: bold">Mes équipes</h3>
<ul class="listElement">
  {% for team in owners %}
    <li class="listItem">
    <div><a href="{{ path('showTeam', {'teamId' : team.id })}}">{{team.name}}</a></div>
    </li>
  {% endfor %}
</ul>
<br/><br/>
<hr/>

<h3 style="font-weight: bold">Mes équipes associées</h3>
<ul class="listElement">
  {% for team in associates %}
    <li class="listItem">
    <div><a href="{{ path('showTeam', {'teamId' : team.id })}}">{{team.name}}</a></div>
    </li>
  {% endfor %}
</ul>
<br/><br/>



{% endblock %}
