@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
/* default style */
header, footer {
  background: #caf2d7;
  color: black;
}

header { position: relative; box-shadow: 0px 4px 20px black; }

html, main {
  background: #60a9a6;
}
aside {
  background: #fafafa;
}

body { background: #fafafa ; font-family: 'Lato', sans-serif;}
h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; text-align: center}

h1 { font-weight: 700; font-size: 2.0em; color: white}
h2 { font-size: 1.8em; font-weight: bold; color: white}
h3 { font-size: 1.2em}

h1 span { font-weight: 400; font-size: 0.8em}

.button, .submitButton { padding: 20px; background-color: #caf2d7; box-shadow: 0px 4px 4px black; text-align: center;}
.button, .submitButton { font-size: 1.3em}

.btn, .btn--success, .btn--info, .btn--alert, .btn--warning, .btn--danger, .btn--primary { height: 50px; font-size: 1.3em; box-shadow: 0px 4px 4px black; text-align: center; padding: 20px }
.btn--success { background-color: #caf2d7; color: black }
.btn--info { background-color: #f5fec0}
.btn--alert, .btn--warning, .btn--danger { background-color: #fddede}
.btn--danger { color: black }

.submitButton:hover { background-color: #8acea2 }

p { font-size: 1.2em; text-align: justify;}

ul {
  list-style: none;
  padding: 0;
}

.backbutton { font-size: 2em; border: 1px solid black; padding: 4px;
            cursor: pointer; background-color: #caf2d7;margin-right: 4px;
            width: 35px; height: 35px; text-align: center;}


#splashModal { background-color: white; min-height: 800px; width: 100%; position: absolute; display:none }
#closeSplashModal { font-size: 50px; float: right; cursor: pointer; margin-right: 10px; margin-top: 5px}
#messageModal { position: absolute }

.fullWidth { width: 100%}

a:link { text-decoration:none}

/* navigation */
#navigation { background: #caf2d7; width: 100%; position: absolute; z-index: 99; left: 0px; padding: 10px;}
#navigationControl { font-size: 2em; pointer: cursor}
#navigation li { font-size: 1.4em; cursor: pointer}
#navigation li a {color: black; }
#navigation li a:hover {color: brown}

#logoEtsik { width: 40px; height: 40px; float: right}


/* users List - tournament */
.listElement { margin-top: 20px }
.listItem {
          display: flex; justify-content: space-between;
          font-height: 50px; font-size: 1.2em; padding: 5px;
          border-bottom: 1px solid lightgrey;
        }
.listElement li { height: 40px;}
#selectRole option { font-size: 2em; font-variant: small-caps;}
#showCountRole { text-align: center; color: black; font-weight: bold; padding-top: 10px }


/* editPlaye */
#editPlayerModal {padding:20px; margin-top: 20px}
#editPlayerModal h2 { color: black;}
#edit-player input { width: 100%; margin-top: 20px}
#user_player_person_birthdate { display: flex; justify-content: space-between;}
#user_player_person_birthdate select { width: 30%}

#user_player_person_player_position { width: 100%}


.isOpenTournament {     height: 60px!important;
    background-color: #caf2d7;
    margin: 20px 0;
    padding: 10px;
    font-size: 1em;}

/* signin */
#create-user input { width: 100%; height: 50px}
#user_person_birthdate { display: flex; justify-content: space-between;}
#user_person_birthdate select { width: 30%}
#user_roles { width: 100%; height: 50px;}


/* flash message */
.flashMessage { padding: 14px; font-weight: bold; margin-bottom: 10px;}
.flash-error { border: 2px solid #D9534F; background-color: #F0AD4E; color: black}

/* submenu */
.subMenu h1 { float: left; display: inline;}
.subMenu a { float: right; font-size: 1.2em; padding: 10px;}
.subMenu a:hover { background-color: #53cde2; color: #005792}

/* subBody */
#subBody h2 { text-align: center}

/* tournament form */
#edit-tournament input, #edit-tournament textarea { width: 100%; height: 50px}
#tournament_dateStart { display: flex; justify-content: space-between;}
#tournament_dateStart select { width: 30%}
select#tournament_sport {width: 100%!important}

#tournament_dateStart { display: flex; flex-direction: row;}
#edit-tournament .group { display: flex; flex-direction: row; justify-content:space-between;}
#edit-tournament .group input,  #edit-tournament .group select{ width: 100%; }

/* team form */
#edit-team input, #edit-team textarea, #edit-team select { width: 100%}

/* team ajax list */
#searchTeamsList { width: 100%; background-color: #f5fec0}
#searchTeamsList > li { color: black; border-bottom: 1px solid grey; padding-top: 4px; padding-bottom: 4px; font-size: 1.2em; cursor: pointer}

/* create game */
.liSelected { padding-left: 10px}
.liSelected:hover { cursor: pointer; background-color: #d1f4fa}

/* show match group */
.blockTab { background-color: white; margin: 10px; text-align: center; border: none; height: 50px;font-size: 1.6em; box-shadow: 0px 4px 4px black; text-align: center;}
.blockTab.is-active { background-color: #f5fec0 !important; border: none}

.allTeams > li { border-top: 1px solid grey; padding: 4px 0px 4px 0px; cursor: pointer;}

.winner { font-weight: 400; color: #de356a}

/* show match */
.blueTitle {color: black; font-weight: bold;}
.matchH1 { float: none; display: block; text-align: center }
.teamMatch { padding: 10px; border: 3px solid #F0AD4E; margin-top: 10px}
.teamMatch h2 { float: left; }
.teamMatch .score { float: right;}
#boardMatch #score { border: 2px solid orange; padding: 15px; border-radius: 10px; font-size: 1.3em}
#boardMatch { font-size: 20px;}
.plusButton, .minusButton { font-size: 60px; cursor: pointer }
.plusButton { color:#caf2d7;}
.minusButton { color: #fddede; float: right}
#iconTime { width: 40%; color: blue; font-size: 14px; font-style: italic}
#timeStart {}

ul#listPerson li { height: 30px;
                font-size: 1em;
                border: 1px solid grey; margin-top: 2px;
                padding-top: 2px; padding-left: 20px
              }
li.notActiveReferee { background-color: lightgrey; color: grey}
li.activeReferee { background-color: white; color: black}


/* ranking */
.rankingValue { width: 25px }
.ranking { font-size: 10px;}
#ranking tr th { background-color:  #0275D8; color: white; padding: 2px}
