@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
/* default style */
header, footer {
  background: #caf2d7;
  color: black;
}

header { position: relative; box-shadow: 0px 4px 20px black}

html, main {
  background: #60a9a6;
}
aside {
  background: #fafafa;
}

body { background: #fafafa ; font-family: 'Lato', sans-serif;}
h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; }

h1 { font-weight: 700; font-size: 3em; color: white}
h2 { font-size: 1.4em}
h3 { font-size: 1.2em}

h1 span { font-weight: 400; font-size: 0.8em}

.button { padding: 20px; background-color: #caf2d7; box-shadow: 0px 4px 4px black; text-align: center;}
.button { font-size: 1.3em}

p { font-size: 1.2em; text-align: justify;}

ul {
  list-style: none;
  padding: 0;
}

.fullWidth { width: 100%}

a:link { text-decoration:none}

.italicDetails { font-style: italic; font-size: 0.9em;}

/* navigation */
#navigation { background: #caf2d7; width: 100%; position: absolute; z-index: 99; left: 0px; padding: 10px;}
#navigationControl { font-size: 2em; pointer: cursor}
#navigation li { font-size: 1.4em; cursor: pointer}
#navigation li a {color: black; }
#navigation li a:hover {color: brown}

#logoEtsik { width: 40px; height: 40px; float: right}


/* homepage */



/* flash message */
.flashMessage { padding: 14px; font-weight: bold; margin-bottom: 10px;}
.flash-error { border: 2px solid #D9534F; background-color: #F0AD4E; color: black}

/* submenu */
.subMenu h1 { float: left; display: inline;}
.subMenu a { float: right; font-size: 1.2em; padding: 10px;}
.subMenu a:hover { background-color: #53cde2; color: #005792}

/* subBody */
#subBody h2 { text-align: center}

/* tournament form */
#edit-tournament input, #edit-tournament textarea, #edit-tournament select { width: 100%}

#tournament_dateStart { display: flex; flex-direction: row;}
#edit-tournament .group { display: flex; flex-direction: row; justify-content:space-between;}
#edit-tournament .group input,  #edit-tournament .group select{ width: 100%; }

/* team form */
#edit-team input, #edit-team textarea, #edit-team select { width: 100%}

/* team ajax list */
#searchTeamsList { width: 100%; background-color: #f47645}
#searchTeamsList > li { border-bottom: 1px solid grey; padding-top: 4px; padding-bottom: 4px; font-size: 1.2em; cursor: pointer}

/* create game */
.liSelected { padding-left: 10px}
.liSelected:hover { cursor: pointer; background-color: #d1f4fa}

/* manage game */
#groupList div { border: 1px solid black}
#groupList .groupName { background-color: #f47645; padding: 10px; cursor: pointer}
#groupList .groupName:hover { background-color: #d1f4fa }
#groupList .teamsGroup ul > li { padding-left: 10px }

.allTeams > li { border-top: 1px solid grey; padding: 4px 0px 4px 0px; cursor: pointer;}

.winner { font-weight: 400; color: #0275D8}

/* show match */
.blueTitle {color: #0275D8}
.matchH1 { float: none; display: block; text-align: center }
.teamMatch { padding: 10px; border: 3px solid #F0AD4E; margin-top: 10px}
.teamMatch h2 { float: left; }
.teamMatch .score { float: right; }
#boardMatch { font-size: 20px;}

/* ranking */
.rankingValue { width: 25px }
.ranking { font-size: 10px;}
#ranking tr th { background-color:  #0275D8; color: white; padding: 2px}
