{% extends 'base.html.twig' %}

{% block body %}
<br/><br/>
<h1 style="text-align: center">
  Goome<br/>
  <span>Suivez le Tournoi</span>
</h1>
<br/>
<p>
  Suivez l'ensemble des matchs du tournoi,
  ne perdez plus un seul résultat grâce à l'application <strong>Goome</strong>
  qui vous donne en temps réel, tous les résultats, sur tous les terrains.
</p>
<br/><br/><br/>
<div style="text-align: center">
  <a href="{{ path('listTournament')}}">
    <button class="button">
      LES TOURNOIS EN COURS
    </button>
  </a>
</div>

{% endblock %}
